*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container__1 {
    justify-content: center;
    margin-top: 19px;
    width: 1440px;
    height: 600px;
}

.first-block {
    margin-top: 20px;
    align-items: center;
}

.icon1_block {
    width: 1440px;
    margin: 0 auto;
    filter: brightness(60%)
}

.text-1block {
    margin-top: -300px;
    text-align: center;
    gap: 40px;
    width: 1440px;
    position: absolute;
}

.title-1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #EAE9E8;
}

.txt-brand {
    /* font-family: ; */
    font-size: 40px;
    text-transform: uppercase;
    color: #EAE9E8;
}

.txt-colection {
    font-size: 15px;
    font-family: monospace;
    color: #EAE9E8;
}

.numb-li {
    position: absolute;
    width: 15px;
    height: 17px;
    left: 889px;
    top: 604px;
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.numb01 {
    color: #EAE9E8;

    
}

.numb02 {
    color: #EAE9E8;
    opacity: 0.3;
}

.numb03 {
    color: #EAE9E8;
    opacity: 0.3;
}

.numb04 {
    color: #EAE9E8;
    opacity: 0.3;
}

/* 2 блок................................................... */

.container__2 {
    width: 1440px;
    height: 700px;
    background-color: #CEC6C4;
    margin-top: 13px;
}

.img2block {
    margin-left: 848px;
    margin-top: -478px;
    position: absolute;
}

.white-square {
    margin-top: -658px;
    margin-left: 740px;
    width: 600px;
    height: 600px;
    position: relative;
    background-color: rgb(239, 239, 239);
}

.txt-2 {
    position: absolute;
    width: 530px;
    height: 184px;
    left: 276px;
    top: 803px;
    font-weight: 500;
    font-size: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.txt-3 {
    position: absolute;
    width: 468px;
    height: 57px;
    left: 276px;
    top: 1044px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: Courier, monospace;
    color: #FFFFFF;
}

.txt-4 {
    position: absolute;
    width: 235.73px;
    height: 22px;
    left: 276px;
    top: 1126px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #EAE9E8;
}

.txt-5 {
    position: absolute;
    width: 310px;
    height: 38px;
    left: 1101px;
    top: 1175px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

/* 3 блок ............................................. */

.container__3 {
    width: 1440px;
    height: 885px;
    /* justify-content: center; */
}

.h3-1 {
    position: absolute;
    width: 215px;
    height: 36px;
    left: 837px;
    top: 1528px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #0F303F;

}


.arrow1 {
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: -11px;

}
.arrow2 {
    margin-top: -170px;
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 1344px;

}

.pictures {
    display: flex;
    gap: 45px;
    text-align: center;
    justify-content: center;
    margin-top: 250px;
}

.title__ {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    display: flex;
    gap: 10px;
    margin-left: 39px;
}

.p1 {
    color: #0F303F;
}
.UAH {
    color: #CECECE;
}
.UAH2 {
    color: #FD5454;
}

.line_3block-1 {
    position: absolute;
    width: 75px;
    height: 0px;
    left: 885px;
    top: 2163px;
    margin-left: 549px;
    margin-top: -105px;
    border: 2px solid #CECECE;
}

.line_3block-2 {
    position: absolute;
    width: 75px;
    height: 0px;
    left: 791px;
    top: 2163px;
    margin-left: 276px;
    margin-top: -105px;
    border: 2px solid #CECECE;
}

.line_3block-3 {
    position: absolute;
    width: 75px;
    height: 0px;
    left: 597px;
    top: 2163px;
    margin-left: -277px;
    margin-top: -105px;
    border: 2px solid #CECECE;
}

.line_3block-4 {
    position: absolute;
    width: 75px;
    height: 0px;  
    left: 696px;
    top: 2163px;
    margin-top: -105px;
    margin-left: -2px;
    border: 2px solid #CECECE;
}

.circle {
    margin-top: -279px;
}

.txt-end {
    margin-top: 360px;
    margin-left: 665px;
}

.line-end1 {
    position: absolute;
    width: 640px;
    height: 1px;
    left: 225px;
    top: 2263px;
    background: #EAE9E8;
}

.line-end2 {
    position: absolute;
    width: 640px;
    height: 1px;
    left: 213px;
    top: 2263px;
    margin-left: 808px;
    background: #EAE9E8;
}

/* 4 блок............................ */

.container__4 {
    width: 1440px;
    height: 500px;
    left: 0px;
    margin-top: -156px;
    background: #254A5A;
}


.info-1 {
    position: absolute;
    width: 629px;
    height: 116px;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 40px;
    margin-left: 196px;
    margin-top: 84px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #EAE9E8;
}
.info-2 {
    position: absolute;
    width: 629px;
    height: 116px;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 100px;
    margin-left: 196px;
    margin-top: 122px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #EAE9E8;
}

.info-3 {
    position: absolute;
    width: 498px;
    height: 95px;
    left: 424px;
    top: 2618px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

}

.photo-4block {
    margin-left: 783px;
    margin-top: 42px;
}

/* footer ........................................ */

.container__5 {
    width: 1440px;
    height: 410px;
    margin-top: 200px;
}

.footer_line {
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 235px;
    top: 2975px;
    background: #EAE9E8;
}

.h2_footer {
    position: absolute;
    height: 31px;
    left: 680px;
    top: 3041px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 102.5%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0F303F;

}

.inp-footer {
    margin-top: 52px;
    margin-top: 10;
    margin-left:540px;
    width: 250px;
    height: 25px;
    border: none;
}

.footer-arrow {
    box-sizing: border-box;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1022px;
    top: 3121px;
    border: 1px solid #E64926;
}

.line-footer {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 765px;
    top: 3137px;
    border: 1px solid #0F303F;
}

.li-footer {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    position: absolute;
    height: 22px;
    left: 730px;
    top: 3207px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #B7C1C5;

}

.line-footer2 {
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 235px;
    top: 3341px;
    background: #EAE9E8;
}

.end-txt1 {
    position: absolute;
    width: 519px;
    height: 17px;
    left: 240px;
    top: 3362px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #0F303F;
    
}

.end-txt2 {
    position: absolute;
    height: 17px;
    left: 1472px;
    top: 3362px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #0F303F;
}


